@media (max-width: 1200px) {
  .page-layout {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav ads ads"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .page-layout {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "ads"
      "footer";
  }

  #page-header {
    grid-template-columns: auto;

    #logo {
      margin-bottom: 10px;
    }

    nav a {
      font-size: 1em;
    }

    li + li {
      margin-left: 10px;
    }
  }

  #page-content {
    grid-template-columns: auto;

    #logo {
      margin-bottom: 20px;
    }

    nav a {
      font-size: 1em;
    }

    li + li {
      margin-left: 10px;
    }
  }

  #sidenav {
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    position: relative;

    ul {
      display: flex;
    }

    li {
      flex: 1 0 60px;
    }

    li a {
      margin: 30px 30px 30px 0;
    }

    &::after {
      content: "→";
      position: absolute;
      top: 5px;
      right: 30px;
      animation: arrow 0.5s ease-in 0s infinite alternate;

      color: rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes arrow {
    from {
      right: 30px;
    }

    to {
      right: 20px;
    }
  }
}

@media (max-width: 600px) {
  #page-content {
    grid-template-columns: auto;
  }
}
