#page-header {
  background: linear-gradient(to right, #8844ee, #b07dfb);
  padding: 1.875rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  #logo {
    max-width: 12.5rem;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3125rem;
    padding: 0.625rem;
    transition: 0.2s ease-in-out;

    display: block;

    font-size: 1.125em;
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  li + li {
    margin-left: 1.875rem;
  }
}
