#sidenav {
  background-color: #fafbfc;
  padding: 1.875rem;

  li a {
    background-color: #fff;
    border-radius: 0.3125rem;
    margin: 0 auto 1.875rem auto;
    padding: 1.25rem;
    min-width: 3.75rem;
    max-width: 6.25rem;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: 0.2s ease-out;

    display: block;

    &:hover {
      background-color: #b07dfb;
    }
  }
}
